<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="319" android:versionName="3.19" package="com.thirtyhippos.powerwallcompanionx" android:installLocation="auto">
	<application android:label="Powerwall Companion" android:theme="@style/MainTheme" android:icon="@mipmap/appicon"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.BATTERY_STATS" />
</manifest>